* {
  box-sizing: border-box;
  font-family: 'Inter';
}

body {
  margin: 0;
  padding: 0;
}

.Container {
  width: 100vw;
  height: 100vh;
  background-color: #F5F7FB;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  color: #293264;
}

h2 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #293264;
}

h3 {    
  font-weight: 500;
  font-size: 18px;
  color: #293264;
  text-align: center; 
}

/* START PAGE */

.StartBtn {
  width: 193px;
  height: 52px;
  background: #4D5B9E;
  border-radius: 15px;
  border: none;
  color: white;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin: 1.5em;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

select {
  width: 145px;
  margin: 0.5em;
  padding: 5px 10px;
  border: 1px lightgrey solid;
}

p {
  font-size: 12px;
  opacity: 0.8;

}

/* QUESTIONS PAGE */

.Question {
  border-bottom: 1px solid #DBDEF0;
  width: 500px;
  margin: 0 auto 1.25em;
}

.QuestionsContainer h1 {
  margin-bottom: 0.5em;
}

.QuestionsContainer h3 {
  margin-top: 1.75em;
}

.Answers {
  padding-bottom: 1em;
  margin-bottom: 0.5em;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.Answer {
  width: 230px;
  margin: 0 10px;
}

.Answers button {
  width: 230px;
  height: 35px;
  margin: 0;
  padding: 0;
  border: 0.794239px solid #4D5B9E;
  border-radius: 16px;
  background: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #293264;
}

button.CheckAnswers {
  width: 160px;
  height: 50px;
  background: #4D5B9E;
  border-radius: 16px;
  border: none;
  color: #F5F7FB;
  margin: 0.25em auto;
  font-weight: 500;
  text-align: center;
}

form div {
  width: 110px;
  height: 50px;
  background: #4D5B9E;
  border-radius: 16px;
  border: none; 
  margin: 0 0.5em;
   
}

div input[type="radio"] {
  appearance: none;
  width: 100px;
  height: 50px;
  position: relative;
  top: -33px;
}

form {
  display: flex;
}

label {
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 0.9em;
}


